@import 'base/normalize';
@import 'base/variables';
@import 'base/globales';

body {
    font-family: $fuentePrincipal;
}

h{
    font-family: $fuentePrincipal;
}

p{
    font-family: $fuentePrincipal;
}